<!DOCTYPE html>
<html>
  <head>
    <title>Quizify</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='stylesheet.css')}}">
    <a href="{{ url_for('index')}}">
      <img src="{{url_for('static', filename='Quiz-Logo-1.png')}}" alt="Quiz" style="width:50px;height:50px;align:left;">
    </a>
  </head>
  <body>
    <h1>Code Page</h1>
    <p>Share the code for students to gain access to the quiz!</p>
    <br>
    <br>
    <br>
    <center><a class="div">Generated Code</a></center>
  </body>
</html>
